#cambioColor{
    background-color: green;
}
#cambiarColores{
    background-color: green;
}
#botonesBlue{
    background-color: blue;
    color: white;
}
#titulo{
    text-align: center;
}
#agregarAlumnos{
    background-color: green;
}
#ver{
    background-color: green;
    color: white;
}
#filtrarPorNivel{
    background-color: green;
    color: white;
}
#resetearFiltros{
    background-color: green;
    color: white;
}